{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cart') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}


{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        {% if carts > 1 %}
            <p class="title__message">Vous avez un ou plusieurs produits en attente</p>
        {% endif %}
    </div>
    <section class="p-50">
        {% if counterSession == 0 %}
            <div class="alert alert-info">
                Votre panier est actuellement vide.
            </div>
        {% else %}
            <table class="mb-5">
                <thead>
                    <tr>
                        <th>Article sélectionné</th>
                        <th>Tarif<br>unitaire</th>
                        <th>Quantité<br>sélectionné</th>
                        <th>Coût<br>total</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="2">Sous-total HT :</td>
                        <td colspan="2">{{ subTotalHT|number_format(2, '.', ' ') }} €</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">TVA :</td>
                        <td colspan="2">20 %</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">Total TTC :</td>
                        <td colspan="2">{{ subTotalTTC|number_format(2, '.', ' ') }} €</td> 
                    </tr>
                </tfoot>

                <tbody>
                    {% for cart in carts %}
                        {% for product in products %}
                            {% if cart.id == product.id %}
                                <tr>
                                    <td colspan="2">
                                        <figure>
                                            <img src="{{ asset ('/images/thumbnails/') }}{{ product.thumbnail }}" alt="product img"/>
                                            <figcaption>
                                                <h3>{{ product.title }}</h3>
                                                <span><small>{{ product.subtitle }}</small></span>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>{{ (product.price / 100) }} €</td>
                                    <td>
                                        <div>X {{ cart.quantity_selected }}</div>
                                        <div>
                                            <a href="/mon-panier/{{ product.id }}/deleteOne"><i class="fa-solid fa-square-minus"></i></a>
                                            {% if product.getQuantityInStock() > cart.quantity_selected %}
                                                <a href="/mon-panier/{{ product.id }}/addOne"><i class="fa-solid fa-square-plus"></i></a>
                                            {% elseif product.getQuantityInStock() <= cart.quantity_selected %}
                                                <a href=""><i class="fa-solid fa-square-plus"></i></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{ (product.price / 100) * cart.quantity_selected }} €
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <caption class="mb-45">Vous avez sélectionné {{ counterSession }} produit{% if counterSession > 1 %}s{% endif %} {% if counterSession > 1 %}différents{% endif %} dans ce panier.</caption>

            <div class="cart__buttons">
                {% if not is_granted ('ROLE_USER') %}
                    <div class="alert alert-danger">Attention, vous devez être authentififer pour procéder au paiement</div>
                {% else %}
                    <a href="" class="btn btn-primary py-10 px-20">
                        <span>Paiement</span>
                        <i class="fa-solid fa-credit-card"></i>
                    </a>
                {% endif %}

                <a href="{{ path ('app_remove_to_cart') }}" class="btn btn-danger py-10 px-20">
                    <span>Vider le panier</span>
                    <i class="fa-solid fa-broom"></i>
                </a>
            </div>

        {% endif %}
    </section>
{% endblock %}
