{% extends 'base.html.twig' %}

{% block title %}Mon compte client{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message"><mark>N° du compte client: <strong>{{ numberAccount }}</strong></mark></p>
    </div>
    <section class="client__container">
        <div class="user-profile">
            <img class="profile-image" src="{{ profileImageUrl }}" alt="Profile Image">
            <div class="user-info">
                <p class="info">{{ firstName }} {{ lastName }}</p>
                <p class="info">{{ email }}</p>
                <p class="info">{{ address }}</p>
                <p class="info">{{ city }}</p>
                <a href="{{ path('app_user_change') }}" class="btnmodif btn-primary m-5">Modifier</a>
            </div>
        </div>
    </section>

    <section class="order__command">
        <p class="orderbutton"> Mes commandes </p>
        <hr>
        <div class="alert alert-info mt-0">
            <p class="commandinfo">{{ command }}</p>    
        </div>
    </section>
{% endblock %}
