{% extends 'base.html.twig' %}

{% block title %}Mon compte client{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">
            <span>N° du compte client:</span>
            <span>
                <strong>
                    <mark>
                        {{ app.user.accountNumber }}
                    </mark>
                </strong>
            </span>
        </p>
    </div>
    <section class="client__container">
        <div class="user-profile">
            <img class="profile-image" src="{{ profileImageUrl }}" alt="Profile Image">
            <div class="user-info">
                <p class="info">
                    <span>Prénom</span>
                    <span>{{ app.user.firstname }}</span>
                </p>
                <p class="info">
                    <span>Nom</span>
                    <span>{{ app.user.lastname }}</span>
                </p>
                <p class="info">
                    <span>Email</span>
                    <span>{{ app.user.email }}</span>
                </p>
                {% if app.user.address %}
                    <p class="info">
                        <span>Adresse:</span>
                        <span>{{ app.user.address }}</span>
                    </p>
                {% endif %}
                <a href="{{ path('app_user_change') }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
        </div>
    </section>
    

    <section class="order__command">
        <p class="orderbutton"> Mes commandes </p>
        <hr>
        <div class="alert alert-info mt-0">
            <p class="commandinfo">{{ command }}</p>    
        </div>
    </section>
{% endblock %}
