{% extends 'base.html.twig' %}

{% block title %}Mon compte client{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="lead">N° du compte client ici non ?</p>
    </div>
    <section>
    <div class="space"/>
        <div class="client_container">
            <div class="user-profile">
            <img class="profile-image" src="{{ profileImageUrl }}" alt="Profile Image">
                <div class="user-info">
                <p class="info">{{ firstName }}</p>
                <p class="info">{{ lastName }}</p>
                <p class="info">{{ email }}</p>
                </div>
            </div>
            <a href="{{ path('app_user_change') }}" class="btnmodif btn-primary">Modifier</a>
            <div class="space"/>
        </div>
    </section>
    <section>
    <p class="orderbutton"> Mes commandes <p>
    <div class="line" />
        <p class="commandinfo">{{ command }}</p>
    </section>
{% endblock %}
