{% extends 'base.html.twig' %}

{% block title %}FAQ - Foire Aux Questions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('faq') }}
{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
    </div>
    <div class="faq p-50">
  <div class="question">
  </br>
    <h3>Comment fonctionne le miroir connecté ?</h3>
    <p>Le miroir connecté utilise une technologie avancée pour intégrer des fonctionnalités intelligentes telles que la connectivité Wi-Fi, un assistant vocal et une analyse de la peau. Il vous permet de rester connecté, de contrôler votre contenu multimédia et de recevoir des conseils personnalisés pour votre routine de soins, le tout directement depuis le miroir.</p>
  </div>
    </br>
    </br>
  <div class="question">
    <h3>Quelles applications puis-je utiliser avec le miroir connecté ?</h3>
    <p>Le miroir connecté est compatible avec une large gamme d'applications, notamment les réseaux sociaux, les applications de musique, les applications météo, les actualités, les applications de santé et bien plus encore. Vous pouvez accéder à vos applications préférées et les contrôler facilement à partir de l'interface du miroir.</p>
  </div>
</br>
    </br>
  <div class="question">
    <h3>Est-ce que le miroir connecté est facile à installer ?</h3>
    <p>Oui, le miroir connecté est conçu pour être facile à installer. Il suffit de le fixer au mur à l'endroit souhaité, de le brancher et de suivre les instructions de configuration initiale. Vous pouvez également personnaliser les paramètres selon vos préférences grâce à l'interface conviviale du miroir.</p>
  </div>
  </br>
    </br>
  <div class="question">
    <h3>Quelles sont les options d'éclairage disponibles avec le miroir connecté ?</h3>
    <p>Le miroir connecté offre une gamme d'options d'éclairage ajustables. Vous pouvez régler la luminosité et la température de couleur pour obtenir un éclairage optimal en fonction de vos besoins. Que ce soit pour vous maquiller, vous coiffer ou créer une ambiance relaxante, vous pouvez personnaliser l'éclairage selon vos préférences.</p>
  </div>
</br>
    </br>
  <div class="question">
    <h3>Le miroir connecté est-il compatible avec les appareils mobiles ?</h3>
    <p>Oui, le miroir connecté est compatible avec les appareils mobiles tels que les smartphones et les tablettes. Vous pouvez utiliser des applications spécifiques pour connecter votre appareil mobile au miroir et accéder à des fonctionnalités supplémentaires, telles que le partage de contenu et la synchronisation des données.</p>
  </div>
</div>
</br>

{% endblock %}
