{# templates/login/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<div class="titlePage">
    <h1>Se connecter</h1>
    <div class="title">
    <p> Connectez-vous afin de pouvoir faire vos achats en toute discrétion. </p>
    </div>
</div>
    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
 {# templates/login.html.twig #}
<div class="form-container">
  <form method="POST" action="{{ path('login') }}">
    {{ form_start(form) }}

    <div class="form-group">
      {{ form_label(form.email) }}
      <br/>
      <div class="insert">
      {{ form_widget(form.email) }}
      </div>
    </div>
    </br>
    <div class="form-groupe">
      {{ form_label(form.password) }}
      <br/>
       <div class="insert">
      {{ form_widget(form.password) }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>

    {{ form_end(form) }}
  </form>
</div>

{% endblock %}
