{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <div class="titleContainer">
        <h1>Se connecter</h1>
        <div class="title">
            <p> Connectez-vous afin de pouvoir faire vos achats en toute discrétion. </p>
        </div> <!-- end title -->
    </div> <!-- end titleContainer -->

    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="form-container">
        <form method="POST" action="{{ path('app_login') }}">
            {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.email) }}
                    <br/>
                    <div class="insert">
                        {{ form_widget(form.email) }}
                    </div> <!-- end insert email -->
                </div> <!-- end form-group email -->

                </br>

                <div class="form-groupe">
                    {{ form_label(form.password) }}
                    <br/>
                    <div class="insert">
                        {{ form_widget(form.password) }}
                    </div> <!-- end insert password -->
                </div> <!-- end form-group password -->

                <button type="submit" class="btn btn-primary">Se connecter</button>

            {{ form_end(form) }}
        </form>
    </div> <!-- end form-container -->

{% endblock %}
