{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('productDetails') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productDetails') }}
{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Découvrez votre produit</p>
    </div>
    <section class="product__container">
        <figure>
            <img 
                src="{{ asset ('images/thumbnails') }}/{{product.thumbnail}}" 
                alt="image product" 
            />
        </figure>
        <div class="product__info">
            <h2>{{ product.title}}</h2>
            <p>{{ product.subtitle}}</p>
            <div class="product__price">
                {{ (product.price / 100) |number_format(2, ',', '.') }} €
            </div>
            <div class="product__other">
                <span>
                    <strong>Quantité disponible :</strong>
                    {{ product.getQuantityInStock() }}
                </span>
                <span>
                    <strong>Note :</strong>
                    {%- set note = 3 -%}
                    {% if note == 1 %}⭐<i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i>{% endif %}
                    {% if note == 2 %}⭐⭐<i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i>{% endif %}
                    {% if note == 3 %}⭐⭐⭐<i class="fa-regular fa-star" style="color: #b5b800;"></i><i class="fa-regular fa-star" style="color: #b5b800;"></i>{% endif %}
                    {% if note == 4 %}⭐⭐⭐⭐<i class="fa-regular fa-star" style="color: #b5b800;"></i>{% endif %}
                    {% if note == 5 %}⭐⭐⭐⭐⭐{% endif %}
                </span>
            </div>
            {% if product.getQuantityInStock() == 0 %}
                <span class="product__infoRupture">
                    Rupture de stock
                </span>
            {% endif %}
        </div>
        <div class="product__description">
            <h3>Description du produit</h3>
            <p>{{ product.description|striptags }}</p>
        </div>
        <div class="product__action">
            {% if not is_granted ('ROLE_USER') %}
                <div class="alert alert-warning">Attention, vous devez être authentififé pour procéder à cet achat</div>
            {% elseif product.getQuantityInStock() == 0 %}
                <div class="alert alert-info">Désolé, ce produit à connu un succès fulgurant, nous tentons de ré-approvisioner au plus vite.</div>
            {% else %}
                <a href="{{ path('app_add_to_cart',{'id': product.id }) }}" class="btn btn-primary">
                    Acheter <i class="fa-solid fa-cart-plus"></i>
                </a>
            {% endif %}
        </div>
        

    </section>

{% endblock main %}


