{% extends 'base.html.twig' %}

{% block main %}

<img src="{{ asset ('images/thumbnails') }}/{{product.thumbnail}}" alt="image product">
{{ product.title}}
{{ product.description}}

{{ (product.price / 100) |number_format(2, ',', '.') }} €

<a href="" class="btn btn-primary">Ajouter au panier</a>
{% endblock main %}


