{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Décrouvez vite nos produits</p>
    </div>
    <section class="productsList__container">
        {% for product in products %}
                <div class="card__container">
                    <span>{{ (product.price / 100) |number_format(2, ',', '.') }} €</span>
                    <div class="card__body">
                            <img src="{{ asset ('images/thumbnails/') }}{{ product.thumbnail }}" alt="{{ product.title }}">
                        </a>
                    </div>
                    <div class="card__footer">
                        <h2>{{ product.title }}</h2>
                        <a href="/product/{{ product.slug }}">
                            Voir le produit
                        </a>
                    </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
