{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Décrouvez vite nos produits</p>
    </div>
    <section class="productsList__container">
        {% for product in products %}
                <div class="card__container">
                    <span>{{ product.price }} €</span>
                    <div class="card__body">
                            <img src="{{ product.image }}" alt="{{ product.title }}">
                        </a>
                    </div>
                    <div class="card__footer">
                        <h2>{{ product.title }}</h2>
                        <a href="/product/{{ product.id }}">
                            Voir le produit
                        </a>
                    </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
