{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('productList') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productList') }}
{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Décrouvez un apperçu des produits que nous vous proposons à la vente.</p>
    </div>
    <section class="productsList__container">
        {% for product in products %}
            <div class="card__container">
                {% if product.getQuantityInStock() == 0 %}
                    <span class="card__infoRupture">
                        Rupture de stock
                    </span>
                {% endif %}
                <div class="card__header">
                    <img src="{{ asset ('images/thumbnails/') }}{{ product.thumbnail }}" alt="{{ product.title }}">
                </div>
                <div class="card__body">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.subtitle }}</p>
                    <span>
                        {{ (product.price / 100) |number_format(2, ',', '.') }} €
                    </span>
                </div>
                <div class="card__footer">
                    <a href="/product/{{ product.slug }}">
                        Voir sa description
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
