{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('signup') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('signup') }}
{% endblock %}

{% block main %}
    <div class="title__container">
        <h1>{{ titleH1 | upper }}</h1>
        <p class="title__message">Nous sommes heureux de vous compter prochainement parmis nous</p>
    </div>

    {## Je fais un for pour les messages d'erreur concernant le mot de passe incorrect est le mail déjà utiliser ##}
    <section class="form__container">
        {% for flashMessage in app.flashes('error') %} 
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ form(formSignup) }}
        <div class="form__existingAccount">
            Vous avez déjà un compte ?<br>
            <a href="{{ path('app_login') }}">cliquez ici pour vous connecter</a>
        </div>
    </section>
{% endblock %}
